:host {
  display: block;
  width: 100%;
  height: 100%;
}

.mapa-canvas-container {
  width: 100%;
  height: 100%;
}

:host ::ng-deep .mapa-div-icon {
  background: transparent;
  border: 0;
}

:host ::ng-deep .leaflet-draw,
:host ::ng-deep .leaflet-control-container .leaflet-draw {
  display: none !important;
}