$color-primary-50: #fdf4f9;
$color-primary-100: #fbe8f3;
$color-primary-200: #f8d1e9;
$color-primary-300: #f3aad6;
$color-primary-400: #eb79ba;
$color-primary-500: #e0509f;
$color-primary-600: #cd327f;
$color-primary-700: #b02365;
$color-primary-800: #921f54;
$color-primary-900: #7b0061; // Principal
$color-primary-950: #4d0038;
