<div class="tabs-wrap" *ngIf="elemento as el">
  <div class="tabs-header">
    <button
      type="button"
      class="tab-btn"
      [class.active]="tab() === 'propiedades'"
      (click)="setTab('propiedades')"
    >
      Propiedades
    </button>

    <button
      type="button"
      class="tab-btn"
      [class.active]="tab() === 'metadatos'"
      (click)="setTab('metadatos')"
    >
      Metadatos
    </button>

    <button
      type="button"
      class="tab-btn"
      [class.active]="tab() === 'kml'"
      (click)="setTab('kml')"
    >
      KML
    </button>
  </div>

  <div class="tabs-content" *ngIf="tab() === 'propiedades'">
    <app-mapa-element-form
      [elemento]="el"
      [tipos]="tipos"
      [nodos]="nodos"
      (submitted)="submitted.emit($event)"
      (dirtyChange)="onDirtyChange($event)"
    />
  </div>

  <div class="tabs-content" *ngIf="tab() === 'metadatos'">
    <pre>{{ jsonPretty(el.atributos) }}</pre>
  </div>

  <div class="tabs-content" *ngIf="tab() === 'kml'">
    <pre>{{ jsonPretty(el.kmlExtendedData) }}</pre>
  </div>
</div>